<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <title>Lab Console</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
</head>
<body class="cards-pf">
<nav class="navbar navbar-default navbar-pf" role="navigation">
<div class="navbar-header" style="color: white; font-size: 28px; text-align: center">
<a class="navbar-brand" href="/"><img src="/static/Logo-RedHat-A-Color-RGB.png" style="float: left;"/></a>
List of VMs for user <strong>{{ user }}</strong><br/>
</div>
</nav>
<div class="container-fluid container-cards-pf">
  <ul class="nav nav-tabs" id="tab-projects">
  {% for project,vms in projects.items %}
    <li {% if forloop.counter0 == 0 %}class="active"{%endif%}><a data-toggle="tab" id="tab-{{ project }}" href="#{{ forloop.counter0 }}">{{ project }}</a></li>
  {% endfor %}
  </ul>
  <div class="tab-content">
  {% for project,vms in projects.items %}
  <div class="row row-cards-pf tab-pane fade {% if forloop.counter0 == 0 %}in active{%endif %}" id="{{ forloop.counter0 }}" style="padding-top: 20px;">
    <button class="btn btn-primary" onclick="location.href='?project={{ project }}'" style="display: block;margin-bottom: 15px;" ><span class="glyphicon glyphicon-refresh"></span> Refresh Information</button>
    {% for vm in vms %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">
      <div class="card-pf card-pf-view card-pf-view-select card-pf-view-single-select card-pf-accented" style="min-height: 320px; padding-top: 10px; width: 260px;">
      <h3 class="pf-c-title pf-m-lg ws-example-heading"><strong>{{ vm.name }}</strong></h3>
      {% if vm.task_state %}
      <strong>Task state</strong>: {{ vm.task_state }}<br />
      {% endif %}
      <strong>State</strong>: {{ vm.vm_state }}<br />
      <strong>Memory</strong>: {{ vm.flavor.ram }} &bull; <strong>vCpus</strong>: {{ vm.flavor.vcpus}} &bull; <strong>Disk</strong>: {{ vm.flavor.disk }} <br />
      <strong>Network</strong>:
      <ul>
      {% for network, ips in vm.addresses.items %}
      <li>{{ network }}:<br />
        {% for ip in ips %}
           {{ ip.addr }}<br />
        {% endfor %}
      </li>
    {% endfor %}
      </ul>
      <div style="position: absolute; bottom: 10px;">
      <button type="button" class="btn btn-primary btn-xs" onclick="confirmation('/console/{{ vm.id}}')" style="width: 212px;">Access Console</button> <br/>
      {% if vm.vm_state != "rescued" %}
      <button type="button" class="btn btn-default btn-xs" onclick="confirmation('/start/{{ vm.id}}')" target="_blank">Start</button> 
      <button type="button" class="btn btn-default btn-xs" onclick="confirmation('/stop/{{ vm.id}}')" target="_blank">Stop</button> 
      <button type="button" class="btn btn-default btn-xs" onclick="confirmation('/restart/{{ vm.id}}')" target="_blank">Force Restart</button> 
      {% endif %}
      {% if vm.metadata.AnsibleGroup != "bastions" %}
      <button type="button" class="btn btn-danger btn-xs" onclick="confirmation('/rebuild/{{ vm.id}}/{{ vm.name }}/{{ vm.image.id }} ')" target="_blank">Rebuild</button> 
      {% endif %}
      {% if vm.metadata.cdrom and not vm.task_state and vm.vm_state == "active" %}
        <button type="button" class="btn btn-info btn-xs" onclick="confirmation('/rescue/{{ vm.id}}/{{ vm.metadata.cdrom }} ')" target="_blank">Boot from CD</button> 
      {% elif vm.metadata.cdrom and vm.vm_state == "rescued" %}
        <button type="button" class="btn btn-info btn-xs" onclick="confirmation('/unrescue/{{ vm.id}} ')" target="_blank">Remove CD</button> 
      {% endif %}
      </div>
      </div>
    </div>
    {% endfor %}<!-- /card -->
  </div><!-- /col -->
  {% endfor %}
  </div>

</div><!-- /container -->

<!--<div class="modal fade" id="consoleModal" style="">
<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content" style="width: 1200px;">
  <iframe width="1200" height="800" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>-->


<div class="modal fade" id="cdromModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Boot from CD information</h4>
      </div>
      <div class="modal-body">
        <strong style="color: red">Important:</strong> booting from CDROM will cause the root disk will be available as <strong>vdb</strong> and the CDROM as <strong>vda</strong><br />
        When you finish using the CDROM, reload the screen and press <strong>Remove CD</strong> to reboot the VM and root disk will be available again as <strong>vda</strong>.<br/>
        <strong style="color: red">Important:</strong>After clicking <strong>OK</strong> it can take up to 60 seconds before the Boot from CD is initiated.  <br />Be patient.<br/>  Once the console changes to <strong>Disconnected</strong> close the browser tab and click <strong>Refresh Information</strong>.  <br/>The state of the machine should change to <strong>rescued</strong>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="cdromModalok">OK</button>
      </div>
    </div>
  </div>
</div>




</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
<script>
$(document).ready(function() {
  const urlParams = new URLSearchParams(window.location.search);
  const project = urlParams.get('project');
  if (project)  {
    $('#tab-projects a[id="tab-' + project + '"]').tab('show')
  }
});
function confirmation(url) {
   if (url.includes("rescue")) {
     $("#cdromModalok").attr("onclick", "bootfromcd('" + url + "');")
     $("#cdromModal").modal("show");
   } else if (url.includes("console")) {
     url = "http://console-" + window.location.hostname + url
     window.open(url, '_blank');
   } else {
     if (confirm("Are you sure? Reload manually to check the status")) {
      $.ajax({"url": url});
     }
   } 
}

function bootfromcd(url) {
    $.ajax({"url": url});
    $("#cdromModal").modal("hide");
}

</script>
</body>
</html>
